{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Add new company</title>
</head>



<body>
    
    <h1>
        <a href="/">Osaühingud - RIK Voor 1</a>
    </h1>
    <p class="error_message">{{ message }}</p>
    <div class="make_new_company_parent">
        <form class="make_new_company" autocomplete="off" method="POST">{% csrf_token %} 
            <h2>Add company</h2>
            <div class="make_new_company_child">
                <input type="text" id="comp_name" name="comp_name" placeholder="Company name..." value="{{ input_data.comp_name }}" required><br>
            </div>
            <div class="make_new_company_child">
                <input type="text" id="reg_code" name="reg_code" placeholder="Registry code..." value="{{ input_data.reg_code }}" required><br>
            </div>
            <div class="make_new_company_child">
                <input type="date" id="found_date" name="found_date" value="{{ input_data.found_date }}" required><br>
            </div>
            <div class="make_new_company_child">
                <input type="text" id="total_cap" name="total_cap" placeholder="Total capital..." value="{{ input_data.total_cap }}" required><br>
            </div>

            <div class="split_line"></div>

            <div class="dynamic_entity_buttons">
                <div class="dynamic_entity_buttons_left">
                    <button type="button" id="add_individual_entity_button">Add Individual Entity</button>
                </div>
                <div class="dynamic_entity_buttons_right">
                    <button type="button" id="add_legal_entity_button">Add Legal Entity</button>
                </div>
            </div>
            <div class="shareholders_box">
                <div class="shareholders_box_left shb">
                    
                </div>
                <div class="shareholders_box_right shb">
                    
                </div>
            </div>
            
            <div class="make_new_company_buttons">
                <a class="home_anchor" href="/">Back to front page</a>
                <button type="submit" class="make_new_company_submit">Add Company</button>
            </div>
        </form>
    </div>
    
    <script src="{% static 'dynamic.js' %}"></script>
</body>
</html>